/* 
Theme
*/


:root {
    --header-height: 75px;
    --margin: 30px;
    --primary-color: #2979ff;
    --primary-background: rgba(35, 35, 35, 0.8);
    --background-primary: #181818;
    --background-secondary: #121212;
    --text-on-background: #fff;
    --text-on-primary-background: #fff;
    --selector-on-primary-background: var(--primary-color);
    --surface-1: rgba(0, 0, 0, 0.2);
}

.fade-in-out {
    animation: blinker 2s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0.5;
    }
}